.subscribe {
  &__main-title {
    padding-top: 15px;

    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: .79px;
    line-height: 1.43;
    color: #1e252f;
    text-align: center;
  }

  &__title {
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: .51px;
    line-height: 1.22;
    color: #1e252f;
  }

  &__description {
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: .39px;
    line-height: 1.57;
    color: #1e252f;
  }

  &__list {
    padding: 0;
    margin: 36px auto 0;
    width: 100%;
    max-width: 526px;

    list-style: none;
  }

  &__text {
    padding-top: 3px;
    padding-left: 47px;
  }

  &__item {
    margin-bottom: 27px;

    &:before {
      content: "";

      position: absolute;

      display: table-cell;
      float: left;
      margin-top: -10px;
      margin-bottom: 28px;
      width: 30px;
      height: 50px;

      background-image: url("../assets/svg/icn-subscribe-check.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      border-radius: 0;
    }
  }

  .button {
    &--gradient-blue {
      padding: 12px 33px;
    }

    &--transparent {
      font-size: 14px;
    }

    &__holder {
      margin-top: 30px;

      &:first-of-type {
        margin-top: 63px;
      }
    }
  }
}

@include respond-to(sm-down) {
  .subscribe {
    &__main-title {
      padding-top: 7px;

      font-size: 23px;
    }

    &__list {
      margin: 31px auto 0;
    }

    &__item {
      margin-bottom: 18px;
      &:before {
        margin-top: -8px;
        width: 22px;
        height: 47px;

        background-image: url("../assets/svg/icn-subscribe-check-mb.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
      }
    }

    &__text {
      padding-top: 2px;
      padding-left: 36px;
    }

    .button {
      &--gradient-blue {
        padding: 7px 33px;
      }

      &__holder {
        margin-top: 23px;

        &:first-of-type {
          margin-top: 45px;
        }
      }
    }

    // &__description {}
  }
}
